.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.trees-section {
  border-left: 1px solid black;
  padding-left: 10px;
}

.tree {
  /* Render Penn trees with newlines. */
  white-space: pre-wrap;
}
